.top-tab {
    background-color: #1f212f !important;
    font-family: 'Inter', sans-serif !important;
    font-size: 14px;
    font-weight: 550 !important;
}

.nav-tab {
    background-color: #ffffff !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 16px;
    font-weight: 550 !important;
}







.subscription-panel {
    width: 100%;
    height: 504px;
    background-color: #1f1f2e;
    padding: 80px;
}

.subscription-heading {
    font-family: 'Outfit' sans-serif;
    font-size: 40px;
}

.subscription-text {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.subscription-form {
    width: 30%;
}

.subscription-input {
    color: grey !important;
    font-family: 'Inter', sans-serif !important;
    font-size: 18px !important;
    padding: 15px!important;
}

.gallery-text {
    font-family: 'Outfit', sans-serif;
    font-size: 50px;
}

.gallery-small-text {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: grey;
}

.gallery-row {
    width: 95%;
}



.gallery-images {
    transition: transform 0.3s ease;
    width: 580px;
    height: 465px;
    border-radius: 20px;
}


.footer-container {
    font-family: 'Inter', sans-serif;
    background-color: #1f1f2e;
    padding: 0 0;
}






@media screen and (max-width: 425px) {
    .gallery-row {
        width: 100%;
    }
    .subscription-panel {
        padding: 30px;
    }
    .subscription-heading{
        font-size: 25px;
    }
    .subscription-text{
        font-size: 15px;
    }
    .subscription-form{
        width: 100%;
    }
    .subscription-input{
        padding: 10px!important
    }
}