.color-pink{
  background: linear-gradient(90deg, #f9d4e3 0%, #fff3f7 30%, #fff3f7 80%, #f9d4e3 100%);
  font-family: "Work Sans", sans-serif;
  padding-bottom: "10px";
}
.text-decoration{
  text-decoration: none!important;
  color: #ea8c8e;
}
.footer-subscription::placeholder {
  color: #a7a7a7 !important;
}

.footer-bottom-row {
  width: 70% !important;
  margin-left: 160px !important;
}

.footer-subscripton {
  border-bottom: 5px groove #ea8c8e;
  width: 60%;
}


@media screen and (max-width: 1050px) {
  .footer-bottom-row {
    width: 90% !important;
    margin-left: 0 !important;
  }

  .footer-subscripton {
    width: 100%;
  }

  .mobile-md-3{
    margin-left: 50px!important;
  }

}