@font-face {
  font-family: 'Letterhead';
  src: url('./assets/fonts/Letterhead.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Corisiva';
  src: url('./assets/fonts/MTCORSVA.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Topheader';
  src: url('./assets/fonts/SCRIPTBL.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  /* background: linear-gradient(90deg, rgba(249, 211, 226, 1) 0%, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, 1) 95%, rgba(249, 211, 226, 1) 100%) !important; */
  background: linear-gradient(90deg, #f9d4e3 0%, #fff3f7 30%, #fff3f7 80%, #f9d4e3 100%);
}

body {
  /* background: linear-gradient(90deg, rgba(249, 211, 226, 1) 0%, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, 1) 95%, rgba(249, 211, 226, 1) 100%) !important; */
  background: linear-gradient(90deg, #f9d4e3 0%, #fff3f7 30%, #fff3f7 80%, #f9d4e3 100%);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.color-pink {
  color: #ea8c8e !important;
}

.root-bg {
  background: linear-gradient(90deg, rgba(249, 211, 226, 1) 0%, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, 1) 95%, rgba(249, 211, 226, 1) 100%);
  background: linear-gradient(90deg, #f9d4e3 0%, #fff3f7 30%, #fff3f7 80%, #f9d4e3 100%);
}

.root-bg-black {
  background: linear-gradient(90deg, rgba(249, 211, 226, 1) 0%, rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 1) 95%, rgba(249, 211, 226, 1) 100%);
  background: linear-gradient(90deg, #f9d4e3 0%, #fff3f7 30%, #fff3f7 80%, #f9d4e3 100%);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.active>.page-link {
  background-color: black !important;
  color: white !important;
}

.page-link {
  color: black !important;
}

.offcanvas {
  width: 25% !important;
  padding: 10px !important;
  margin: 25px;
  border-radius: 25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset !important;
}

@media screen and (max-width: 900px) {
  .offcanvas {
    width: 90% !important;
  }
}